html,body {
  margin: 0;
  padding: 0;
  max-width: 1350px;
}
* {
  color: #a8a8a8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 33px;
  line-height: 40px;
}
h2 {
  font-size: 20px;
  line-height: 45px;
}
h3 {
  font-size: 14px;
  line-height: 20px;
}
h1,h2,h3 {
  color: #504f50;
  text-transform: uppercase;
  font-weight: 700;
}
.wrapper-page {
  margin: 0 auto;
}
#header-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#header-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  padding: 30px 90px;
}
.logo {
  display: inline-block;
  width: 20%;
  text-align: left;
  vertical-align: top;
}
.logo-title {
  display: inline-block;
  text-decoration: none;
  color: #39c9da;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.logo-title:last-of-type::after {
  content: ".";
  color: #fff;
  font-size: 40px;
  font-family: Verdana, Regular;
  font-weight: 400;
  line-height: 0px;
}
.nav-list {
  display: inline-block;
  width: 80%;
  text-align: right;
  vertical-align: bottom;
}
.nav-item {
  display: inline-block;
  list-style-type: none;
  padding-left: 30px;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  transform: scale(1,1);
  transition: transform 0.5s ease 0s;
}
.nav-link:hover {
  transform: scale(1.2,1.2);
  transition: all 0.5s ease 0s;
}
#slider {
  width: 100%;
  overflow: hidden;
}
#slider-list {
  width: inherit;
  font-size: 0;
}
.slider-item {
  line-height: 0;
  display: none;
}
.slide {
  width: 100%;
}
.slider-control {
  display: none;
}
.slider-label-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  font-size: 0;
}
.slider-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 10px;
  background: #fff;
  border: 4px solid #fff;
  cursor: pointer;
}
#sl1:checked~.slider-label-wrapper>.slider-label:nth-child(1),
#sl2:checked~.slider-label-wrapper>.slider-label:nth-child(2),
#sl3:checked~.slider-label-wrapper>.slider-label:nth-child(3) {
    background-color: #39c9da;
}
#sl1:checked~#slider-list .slider-item:nth-child(1),
#sl2:checked~#slider-list .slider-item:nth-child(2),
#sl3:checked~#slider-list .slider-item:nth-child(3) {
    display: block;
}
.title {
  position: absolute;
  width: 100%;
  top: 48%;
  left: 0;
  text-align: center;
}
.title-text {
  display: block;
  padding-bottom: 20px;
}
.color-white {
  color: #fff;
}
.btn {
  display: inline-block;
  background-color: #39c9da;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  padding: 3px 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}
