html,body {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'OpensansBold';
    src: url('../fonts/OpenSans-Bold.ttf');
   }
@font-face {
    font-family: 'OpensansReg';
    src: url('../fonts/OpenSans-Regular.ttf');
   }
* {
  color: #a8a8a8;
  font-family: "OpensansReg";
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 33px;
  line-height: 40px;
}
h2 {
  font-size: 20px;
  line-height: 45px;
}
h3 {
  font-size: 14px;
  line-height: 30px;
}
h1,h2,h3 {
  font-family: "OpensansBold";
  color: #504f50;
  text-transform: uppercase;
}
p {
  padding: 15px 0;
}
.wrapper-page {
  max-width: 1350px;
  margin: 0 auto;
}
/**/
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.services-content {
  width: 100%;
  font-size: 0;
  text-align: justify;
}
.color-white {
  color: #fff;
}
.container {
  width: 90%;
  margin: 0 auto;
  font-size: 0;
  padding: 60px 0 50px 0;
}
.padding-none {
  padding: 0;
}
.bg-gray {
  background-color: rgb(244,244,244);
}
.bg-white {
  background-color: rgb(250,250,250);
}
/**/
#header-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#header-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  padding: 3% 7%;
  z-index: 10;
}
.logo {
  display: inline-block;
  width: 20%;
  text-align: left;
  vertical-align: top;
}
.logo-title {
  display: inline-block;
  text-decoration: none;
  color: #39c9da;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.logo-title::after {
  content: ".";
  color: #fff;
  font-size: 40px;
  font-family: Verdana, Regular;
  font-weight: 400;
  line-height: 0px;
}
.wrapper-toggle-nav {
  width: 80%;
  text-align: right;
  vertical-align: bottom;
  display: none;
  font-size: 0;
}
#toggle-menu-btn {
width: 25px;
height: 25px;
box-sizing: border-box;
border: 1px solid #fff;
background-color: transparent;
border-radius: 5px;
padding: 0;
}
.toggle-icon {
  position: relative;
  display: block;
  width: 15px;
  height: 2px;
  margin: 4px auto;
  background-color: #fff;
}
.nav-list {
  display: inline-block;
  width: 80%;
  text-align: right;
  vertical-align: bottom;
}
.nav-item {
  display: inline-block;
  list-style-type: none;
  padding-left: 30px;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  transform: scale(1,1);
  transition: transform 0.5s ease 0s;
}
.nav-link:hover {
  transform: scale(1.2,1.2);
  transition: all 0.5s ease 0s;
}
#slider {
  width: 100%;
  overflow: hidden;
}
#slider-list {
  width: inherit;
  font-size: 0;
}
.slider-item {
  display: inline-block;
}
.slide {
  width: 0;
  opacity: 0.1;
}
.slider-control {
  display: none;
}
.slider-label-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -52px;
  font-size: 0;
}
.slider-label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 0 10px;
  background: #113c41;
  border: 2px solid #fff;
  cursor: pointer;
}
#sl1:checked~.slider-label-wrapper>.slider-label:nth-child(1),
#sl2:checked~.slider-label-wrapper>.slider-label:nth-child(2),
#sl3:checked~.slider-label-wrapper>.slider-label:nth-child(3) {
    background-color: #39c9da;
}
#sl1:checked~#slider-list .slider-item:nth-child(1)>.slide,
#sl2:checked~#slider-list .slider-item:nth-child(2)>.slide,
#sl3:checked~#slider-list .slider-item:nth-child(3)>.slide {
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease-out 0.2s;
}
.title {
  position: absolute;
  width: 100%;
  bottom: 20%;
  left: 0;
  text-align: center;
}
.title-text {
  display: block;
  padding-bottom: 2%;
}
.btn {
  font-family: "OpensansBold";
  width: 200px;
  text-align: center;
  display: inline-block;
  background-color: #39c9da;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}
.trim {
  border-bottom: 1px solid rgb(232,232,232);
}
.section-header {
  width: 100%;
  text-align: center;
}
.sub-title {
  padding-bottom: 30px;
}
.about-img {
  display: inline-block;
  width: 48%;
  vertical-align: bottom;
}
.about-content {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
  padding-left: 2%;
  box-sizing: border-box;
}
.about-content-title {
  position: relative;
  padding-bottom: 25px;
}
.about-content-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 2px;
  background-color:#39c9da;
  bottom: 0;
}
.about-content-text {
  padding: 15px 0 40px 0;
}
.portfolio-content {
  width: 100%;
  font-size: 0;
  text-align: center;
}
.portfolio-item {
  display: inline-block;
  width: 30%;
  overflow: hidden;
  font-size: 0;
  vertical-align: top;
  margin: 20px 0;
  padding: 0 2%;
}
.portfolio-img-wrapper {
  width: 100%;
  position: relative;
  line-height: 0;
}
.shadow:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.83);
}
.shadow:hover .portfolio-read-more-btn {
  display: block;
}
.portfolio-img {
  width: 100%;
  height: 100%;
}
.portfolio-read-more-btn {
  position: absolute;
  width: 46%;
  bottom: 40%;
  left: 50%;
  margin-left: -23%;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
  display: none;
}
.portfolio-item-title {
  width: 100%;
  background-color: #fff;
  font-size: 0;
  border: 1px solid rgb(232,232,232);
  padding: 25px 15px;
  box-sizing: border-box;
}
.portfolio-item-title-name {
  width: 50%;
  vertical-align: bottom;
}
.portfolio-item-title-type {
  width: 50%;
  vertical-align: bottom;
}
.services-content {
  font-size: 0;
  text-align: center;
}
.services-item {
  display: inline-block;
  width: 23%;
  overflow: hidden;
  margin: 20px 1%;
  font-size: 0;
  vertical-align: top;
  border: 1px solid rgb(232,232,232);
  background-color: #fff;
  padding: 20px;
}
.icon-wrapper {
  text-align: center;
}
.fa:before {
  font-size: 33px;
  color: #39c9da;
}
.service-title::after {
  content: '';
  display: block;
  width: 35%;
  height: 1px;
  background-color: #c2c2c2;
  margin: 0 auto;
}
.service-text {
    color: #504f50;
}
.services-btn {
  display: block;
  background-color: #4b4a4b;
  border-radius: 2px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
.services-item:hover {
  background-color: #39c9da;
  cursor: pointer;
}
.services-item:hover .fa:before,
.services-item:hover .service-title{
  color: #fff;
}
.services-item:hover .services-btn {
  background: #fff;
  color: #323030;
}
.services-item:hover .service-text {
  color: #fff;
}
.services-item:hover .service-title::after {
  background-color: #5c5959;
}
.contact-content {
  width: 100%;
  font-size: 0;
}
.contact-info {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.contact-form {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 0;
}
.input-form,.textarea-form {
  border: 1px solid #e6e6e6;
  padding: 14px 10px;
  margin-bottom: 30px;
}
.textarea-form {
  width: 100%;
  resize: none;
}
.input-name {
  width: 47%;
  margin-right: 6%;
}
.input-email {
  width: 47%;
}
.input-titleMessage {
  width: 100%;
}
.wrapper-form-submit {
  width: 100%;
  text-align: right;
}
.contact-info {
  padding-right: 40px;
}
.contact-info-title::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  margin: 10px 0;
  background-color:#39c9da;
}
#footer {
  width: 100%;
  text-align: center;
  background-color:#39c9da;
}
@media (max-width: 910px) {
  .container {
    padding: 30px 0;
  }
  .services-item {
    width: 45%;
  }
  .portfolio-item {
    width: 45%;
  }
  #header-nav {
    padding: 3% 3%;
  }
}
@media (max-width: 720px) {
  .about-img,.about-content,.contact-info,.contact-form {
    display: block;
    width: 100%;
  }
  .contact-info {
    text-align: justify;
  }
  h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .btn {
    font-size:16px;
    line-height: 32px;
    width: 150px;
  }
  .collapse {
    display: none;
  }
  .wrapper-toggle-nav{
    display: inline-block;
  }
  #header-nav {
    position: relative !important;
    background-color: #666;
  }
}
@media (max-width: 480px) {
  .services-item {
    width: 100%;
  }
  .portfolio-item {
    width: 100%;
  }
  .wrapper-page {
    min-width: 320px;
  }
  .input-form {
    display: block;
  }
  .input-name {
    width: 100%;
    margin-right: 0;
  }
  .input-email {
    width: 100%;
  }
  h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .logo-title {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 320px) {
  /*основной заголовок плывет*/
}
